.travel-journey-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-top: 120px;
}

.travel-journey-content {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.travel-journey-main {
    width: 100%;
}

.title-subtitle-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .travel-title {
        width: auto;
    }

    .travel-subtitle {
        width: auto;
    }
}

@media (max-width: 600px) {
    .travel-journey-wrapper {
        padding: 1rem;
    }
} 